http:
  routers:
    italafrica:
      rule: "Host(`italafricacentrale.com`)"
      entryPoints:
        - websecure
      service: italafrica
      middlewares:
        - italafrica-security-headers
      tls: {}

    italafrica-www:
      rule: "Host(`www.italafricacentrale.com`)"
      entryPoints:
        - websecure
      middlewares:
        - italafrica-www-redirect
      service: italafrica
      tls: {}

  services:
    italafrica:
      loadBalancer:
        servers:
          - url: "http://172.19.0.1:3019"

  middlewares:
    italafrica-security-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        stsSeconds: 63072000
        stsIncludeSubdomains: true
        stsPreload: true
        referrerPolicy: "strict-origin-when-cross-origin"
        customResponseHeaders:
          X-DNS-Prefetch-Control: "on"
          Permissions-Policy: "camera=(), microphone=(), geolocation=(self)"

    italafrica-www-redirect:
      redirectRegex:
        regex: "^https://www\\.italafricacentrale\\.com/(.*)"
        replacement: "https://italafricacentrale.com/${1}"
        permanent: true
